<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDFileHash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BDFileHash.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BDFileHash.Properties.Settings>
            <setting name="HashCompareFileMaxSize" serializeAs="String">
                <value>1048576</value>
            </setting>
            <setting name="MD5RegEx" serializeAs="String">
                <value>^([0-9a-fA-F]{32})$</value>
            </setting>
            <setting name="SHA1RegEx" serializeAs="String">
                <value>^([0-9a-fA-F]{40})$</value>
            </setting>
            <setting name="SHA256RegEx" serializeAs="String">
                <value>^([0-9a-fA-F]{64})$</value>
            </setting>
        </BDFileHash.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <BDFileHash.Properties.Settings>
            <setting name="DefaultHashType" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckLikeTextfileForHash" serializeAs="String">
                <value>True</value>
            </setting>
        </BDFileHash.Properties.Settings>
    </userSettings>
</configuration>